<a href="https://colab.research.google.com/github/machinelearning147/MachineLearning-YouTube/blob/master/src/Find_missing_dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import datetime
A1 = [datetime.datetime(2007, 1, 2, 0, 1),
      datetime.datetime(2007, 1, 3, 0, 2),
      datetime.datetime(2007, 1, 4, 0, 3),
      datetime.datetime(2007, 1, 5, 0, 4),
      datetime.datetime(2007, 1, 6, 0, 5),
      datetime.datetime(2007, 1, 7, 0, 6) ]

A2 = [datetime.datetime(2007, 1, 2, 0, 1),
      datetime.datetime(2007, 1, 3, 0, 2),
      datetime.datetime(2007, 1, 6, 0, 5),
      datetime.datetime(2007, 1, 7, 0, 6) ]

In [0]:
A1s = list(map(lambda x: datetime.datetime.strftime(x, '%m/%d/%y'), A1))

In [0]:
A2s = list(map(lambda x: datetime.datetime.strftime(x, '%m/%d/%y'), A2))

In [90]:
print(A1s)

['01/02/07', '01/03/07', '01/04/07', '01/05/07', '01/06/07', '01/07/07']

In [37]:
A2s

['01/02/07', '01/03/07', '01/06/07', '01/07/07']

In [38]:
A2s.append('01/10/07')
A2s

['01/02/07', '01/03/07', '01/06/07', '01/07/07', '01/10/07']

In [0]:
import pandas as pd

In [0]:
df1 = pd.DataFrame(A1s, columns=['date1'])

In [0]:
df2 = pd.DataFrame(A2s, columns=['date2'])

In [94]:
df1

      date1
0  01/02/07
1  01/03/07
2  01/04/07
3  01/05/07
4  01/06/07
5  01/07/07

In [95]:
df2

      date2
0  01/02/07
1  01/03/07
2  01/06/07
3  01/07/07
4  01/10/07

In [86]:
missing_dates = [i for i in A1s if i not in A2s] + [i for i in A2s if i not in A1s]

print(missing_dates)

['01/04/07', '01/05/07', '01/10/07']

In [89]:
df3 = pd.DataFrame(data=missing_dates, columns=['missing_dates'])
df3

  missing_dates
0      01/04/07
1      01/05/07
2      01/10/07